<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Nurabi/Nurabi_Dashboard1">
        <classes>






        <class name="Tests.Activity_Test">
            <methods>
                <include name="loginWithValidData"/>
                <include name="createDailyActivityWithValidData"/>
                <include name="createDailyActivityWithValidDataSidePanel"/>
                <include name="createWeeklyActivityWithValidData"/>
                <include name="createMonthlyActivityWithValidData"/>
                <include name="createOneTimeDateActivityWithValidData"/>
                <include name="createOneTimeDateRangeActivityWithValidData"/>
                <include name="verifySearchByNameEN"/>
                <include name="verifyDeleteDailyActivity"/>
                <include name="editActivityNameDescriptionAttachmentFromDailyToWeekly"/>
                <include name="editActivityNameDescriptionAttachmentFromDailyToMonthly"/>
                <include name="editActivityNameDescriptionAttachmentFromDailyToOneTime"/>
                <include name="editActivityNameDescriptionAttachmentFromDailyToCustom"/>
                <include name="checkActivitiesValidationMessages"/>
                <include name="checkAbilityToAddConsultant"/>
                <include name="checkAbilityToAddTeacher"/>
                <include name="checkAbilityToAddCoach"/>
                <include name="checkAbilityToSearchByUserName"/>
                <include name="checkAbilityToRemoveConsultant"/>
                <include name="checkAbilityToEditConsultant"/>
                <include name="checkConsultantDetails"/>
                <include name="checkAddConsultantValidationMessages"/>
                <include name="checkAbilityToAddAdsOnCourses"/>
                <include name="checkAbilityToAddAdsOnCoursesFromAddTab"/>
                <include name="verifySearchByNameEN"/>
                <include name="verifyAbilityToDeleteAds"/>
                <include name="editAdsName"/>
                <include name="checkAdsDetails"/>
                <include name="checkAdsValidationMessages"/>
                <include name="addPublishedBankQuestionFromAdmin"/>
                <include name="addPublishedBankQuestionFromAdminSidePanel"/>
                <include name="editBankQuestionNamesAndStatusToDraftedFromAdmin"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkBankQuestionDetails"/>
                <include name="checkBankQuestionValidationMessages"/>
                <include name="createActiveCategory"/>
                <include name="createActiveCategorySidePanel"/>
                <include name="editCategoryNameAndChangeStatusToInactive"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkCategoriesDetails"/>
                <include name="checkCategoriesValidationMessages"/>
                <include name="addCertificate"/>
                <include name="addCertificateSidePanel"/>
                <include name="editCertificate"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkCertificateValidationMessages"/>
                <include name="verifyAbilityToAddActiveCouponWithPercent"/>
                <include name="verifyAbilityToAddActiveCouponWithAmount"/>
                <include name="verifyAbilityToAddInActiveCouponWithPercent"/>
                <include name="verifySearchByNameEN"/>
                <include name="verifyDeleteCoupon"/>
                <include name="verifyAbilityToAddCouponSidePanel"/>
                <include name="verifyAbilityToEditCouponNameAndToInactiveAndToAmount"/>
                <include name="checkCouponDetails"/>
                <include name="checkCouponValidationMessaged"/>
                <include name="createCourseOnlineFreePublished"/>
                <include name="createCourseOnlineFreePublishedFromSidePanel"/>
                <include name="createCourseLiveFreePublished"/>
                <include name="verifyDeleteOnlineCourseNotHaveEnrolledUsers"/>
                <include name="verifyDeleteLiveCourseNotHaveEnrolledUsers"/>
                <include name="editOnlineCourseToPaidAndDraft"/>
                <include name="editLiveCoursePaidAndDraft"/>
                <include name="verifySearchByNameEN"/>
                <include name="verifyDetailsOfCourse"/>
                <include name="checkCoursesValidationMessages"/>
                <include name="createCurrency"/>
                <include name="createCurrencySidePanel"/>
                <include name="editAllFieldsCurrency"/>
                <include name="deleteCurrency"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkCurrenciesValidationMessages"/>
                <include name="createConsultationFiled"/>
                <include name="createConsultationFiledSidePanel"/>
                <include name="editConsultationFiledNames"/>
                <include name="deleteConsultationFiled"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkFieldsDetails"/>
                <include name="checkConsultationFieldsValidationMessages"/>
                <include name="createPublishedParentFieldsWithValidData"/>
                <include name="createPublishedParentFieldsWithValidDataSidePanel"/>
                <include name="createDraftParentFieldsWithValidData"/>
                <include name="createPublishedChildFieldsWithValidData"/>
                <include name="createDraftChildFieldsWithValidData"/>
                <include name="verifySearchByNameEN"/>
                <include name="editFieldNameAndStatus"/>
                <include name="checkFieldsDetails"/>
                <include name="checkFieldsValidations"/>
                <include name="createInitiative_Image_Daily_Published"/>
                <include name="createInitiative_Image_Daily_PublishedSidePanel"/>
                <include name="createInitiative_Image_Daily_Drafted"/>
                <include name="verifyDeleteInitiativeNotHaveEnrolledUsers"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkInitiativeDetails"/>
                <include name="checkInitiativeValidationMessages"/>
                <include name="addActiveJobTitle"/>
                <include name="addActiveJobTitleSidePanel"/>
                <include name="editActiveJobTitleAndStatusToInactive"/>
                <include name="deleteJobTitle"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkJobsValidationMessages"/>
                <include name="createLessonOnOnlineCourseWithPDF"/>
                <include name="createLessonOnOnlineCourseWithPDFSidePanel"/>
                <include name="createLessonOnOnLiveCourseWithPDF"/>
                <include name="editLessonOnOnlineCourseWithPDFTOBeLiveCourse"/>
                <include name="editLessonOnLiveCourseWithPDFTOBeOnlineCourse"/>
                <include name="verifyAbilityToDeleteOnlineLesson"/>
                <include name="verifyAbilityToDeleteLiveLesson"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkLessonDetails"/>
                <include name="checkLessonValidationMessages"/>
                <include name="createPersonalityCategory"/>
                <include name="createPersonalityCategorySidePanel"/>
                <include name="createPracticalTaskOnOnlineCourse"/>
                <include name="createPracticalTaskOnOnlineCourseSidePanel"/>
                <include name="createPracticalTaskOnLiveCourse"/>
                <include name="editPracticalTaskToLiveCourse"/>
                <include name="deletePracticalTaskOnOnlineCourse"/>
                <include name="deletePracticalTaskOnLiveCourse"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkDetailsOfPracticalTask"/>
                <include name="checkPracticalTasksValidationMessages"/>
                <include name="createQuizMultiSelectionOnOnlineCourse"/>
                <include name="createQuizMultiSelectionOnOnlineCourseSidePanel"/>
                <include name="createQuizMultiSelectionOnOnLiveCourse"/>
                <include name="editQuizMultiSelectionTOLiveCourse"/>
                <include name="editQuizMultiSelectionTOOnlineCourse"/>
                <include name="deleteQuizOnOnlineCourse"/>
                <include name="deleteQuizOnLiveCourse"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkQuizDetails"/>
                <include name="checkQuizValidationMessages"/>
                <include name="createNewRoleHaveAllPermissions"/>
                <include name="createNewRoleFromAddSidePanel"/>
                <include name="verifyAbilityToSearchRole"/>
                <include name="verifyAbilityToDeleteRole"/>
                <include name="verifyAbilityToEditRoleName"/>
                <include name="checkRolesValidationMessages"/>
                <include name="createActiveSectionsOnOnlineCourseWithAllValidData"/>
                <include name="createInactiveSectionsOnOnlineCourseWithAllValidData"/>
                <include name="createActiveSectionsOnLiveCourseWithAllValidData"/>
                <include name="createInactiveSectionsOnLiveCourseWithAllValidData"/>
                <include name="editSectionsNameAndToInactiveStatus"/>
                <include name="editSectionsNameAndToActiveStatus"/>
                <include name="verifyAbilityToDeleteOnlineSection"/>
                <include name="verifyAbilityToDeleteLiveSection"/>
                <include name="verifySearchByNameEN"/>
                <include name="createActiveSectionsOnOnlineCourseWithAllValidDataFromSidePanel"/>
                <include name="checkDetailsOfSections"/>
                <include name="checkSectionValidationMessages"/>
                <include name="addSliderOnWeb"/>
                <include name="addSliderOnWebSidePanel"/>
                <include name="EditSliderNameAndStatusToInactiveAndToDisplayAll"/>
                <include name="addSliderOnMobile"/>
                <include name="addSliderOnMobileAndWeb"/>
                <include name="addSliderOnWebInactive"/>
                <include name="deleteSliderOnWeb"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkSliderDetailsAfterAddSlider"/>
                <include name="verifyAbilityToAddSpecialityOnConsultant"/>
                <include name="verifyAbilityToAddSpecialityOnTeacher"/>
                <include name="verifyAbilityToAddSpecialityOnCoach"/>
                <include name="verifyAbilityToSearchByName"/>
                <include name="verifyAbilityToDeleteSpeciality"/>
                <include name="verifyAbilityToEditSpecialityNameAndStatus"/>
                <include name="verifyAbilityToAddSpecialityOnConsultantSidePanel"/>
                <include name="checkSpecialityDetails"/>
                <include name="checkSpecialityValidationMessages"/>
                <include name="checkAbilityToAddStoryFromAdminListTypeText"/>
                <include name="checkAbilityToAddStoryFromAddTab"/>
                <include name="checkStoryDetails"/>
                <include name="verifyAbilityToDeleteAds"/>
                <include name="checkAbilityToAddStoryFromAdminListTypeImage"/>
                <include name="checkAbilityToAddStoryFromAdminListTypeVideo"/>
                <include name="checkStoriesValidationMessages"/>
                <include name="createSurvey"/>
                <include name="createSurveySidePanel"/>
                <include name="editSurvey"/>
                <include name="verifySearchByNameEN"/>
                <include name="checkSurveyDetails"/>
                <include name="checkSurveyValidationMessages"/>
                <include name="checkAbilityToAddTask"/>
                <include name="checkAbilityToAddTaskFromAddTaskTab"/>
                <include name="checkAbilityToSearchTask"/>
                <include name="checkAbilityToDeleteTask"/>
                <include name="checkTasksDetails"/>
                <include name="checkAbilityToEditTask"/>
                <include name="assignTaskToUser"/>
                <include name="createFreeTrackingSystemWithValidData_Image"/>
                <include name="createFreeTrackingSystemWithValidData_ImageSidePanel"/>
                <include name="createFreeTrackingSystemWithValidData_Video"/>
                <include name="createDraftedFreeTrackingSystemWithValidData_Image"/>
                <include name="verifySearchByNameEN"/>
                <include name="editTrackingNameVideoDraftedPaid"/>
                <include name="verifyAbilityToDeleteTrackingSystem"/>
                <include name="checkTrackingSystemDetails"/>
                <include name="checkTrackingSystemValidationMessages"/>
                <include name="createNewAdmin"/>
                <include name="verifyAbilityToSearchByAdminName"/>
                <include name="verifyAbilityToEditAdminName"/>
                <include name="verifyAbilityToDeleteAdmin"/>
                <include name="createNewUser"/>
                <include name="verifyAbilityToSearchByUserName"/>
                <include name="verifyAbilityToEditUserName"/>
                <include name="verifyAbilityToDeleteUser"/>
                <include name="checkUserDetails"/>
                <include name="checkUserValidationMessages"/>

            </methods>
        </class>
        </classes>
    </test>
</suite>